/*#967d4d couleur de sqli */
body, html {
	height: 100%;
}
.sqlicolor{
	color:#967d4d;
}
.sqlicolor2{
	color:black;
	background:#967d4d;
}
.bas{
    padding:20px;
}
.basb{
    padding:135px;
}
.main .row {
	padding: 0;
	margin: 0
}


nav.sidebar.navbar {
	border-radius: 0;
}

nav.sidebar, .main {
	-webkit-transition: margin 200ms ease-out;
	-moz-transition: margin 200ms ease-out;
	-o-transition: margin 200ms ease-out;
	transition: margin 200ms ease-out;
}

.main {
	padding: 10px 10px 0 10px;
}

@media (min-width: 768px) {

	.main {
		position: absolute;
		width: calc(100% - 40px);
		margin-left: 40px;
		float: right;
	}

	nav.sidebar:hover + .main {
		margin-left: 200px;
	}
	nav.sidebar.navbar.sidebar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: 0;
	}
	nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
		text-align: center;
		width: 100%;
		margin-left: 0;
	}
	nav.sidebar a {
		padding-right: 13px;
	}
	nav.sidebar .navbar-nav > li:first-child {
		border-top: 1px #e5e5e5 solid;
	}
	nav.sidebar .navbar-nav > li {
		border-bottom: 1px #e5e5e5 solid;
	}
	nav.sidebar .navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
		padding: 0 0 0 0;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #777;
	}
	nav.sidebar {
		width: 200px;
		height: 100%;
		margin-left: -160px;
		float: left;
		z-index: 8000;
		margin-bottom: 0px;
	}
	nav.sidebar li {
		width: 100%;
	}
	nav.sidebar:hover {
		margin-left: 0;
	}

	.forAnimate {
		opacity: 0;
	}
}

@media (min-width: 2000px) {

	.main {
		width: calc(100% - 200px);
		margin-left: 200px;
	}

	nav.sidebar {
		margin-left: 0;
		float: left;
	}
	nav.sidebar .forAnimate {
		opacity: 1;
	}
}

nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover, nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #CCC;
	background-color: transparent;
}

nav:hover .forAnimate {
	opacity: 1;
}

section {
	padding-left: 15px;
}

.img-profil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.text-profil {
    text-align: center;
}

.bloc-profil {
    margin-top: 90px;
}