<!--
 * 3NInterface - Weather Module configuration page
 *
 * PHP 7.0
 *
 * @author     Cédric NOMENTSOA <noment_c@etna-alternance.net>
 * @version    1.0
-->

<div class="page-header">
    <h1>Dashboard</h1>
</div>
<div class="row bloc-profil">
    <div class="col-md-2 col-md-offset-1 text-profil">
        <img src="/img/john_profil.jpg" alt="Profil de Jon" class="img-profil" />
        <h4>Jon</h4>
    </div>
    <div class="col-md-2 col-md-offset-2 text-profil">
        <img src="/img/cedric_profil.jpg" alt="Profil de Jon" class="img-profil" />
        <h4>Cédric</h4>
    </div>
    <div class="col-md-2 col-md-offset-2 text-profil">
        <img src="/img/xel_profil.jpg" alt="Profil de Jon" class="img-profil" />
        <h4>Xel</h4>
    </div>
</div>
<div class="bloc-profil">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Bienvenue sur notre Back Office</div>
                <div class="panel-body">
                    De la part de Jon, Cédric et Xel, nous vous souhaitons la bienvenue
                    sur le Back Office de gestion de l'API REST.<br /><br />
                    Dans cette interface, vous pourrez gérer :
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Deux lignes de RER</li>
                    <li class="list-group-item">Le trafic urbain</li>
                    <li class="list-group-item">La météo</li>
                </ul>
            </div>
        </div>
    </div>
</div> 