<!--
 * 3NInterface - API configuration page
 *
 * PHP 7.0
 *
 * @author     Xel NDEMBI <ndembi_x@etna-alternance.net>
 * @author     Manh-Tuong NGUYEN <nguyen_m@etna-alternance.net>
 * @author     Cédric NOMENTSOA <noment_c@etna-alternance.net>
 * @version    1.0
-->

<div class="page-header">
    <h1>Réglage API</h1>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-3">
		<form>
			<div class="form-group">
				<label for="URLInput">URL</label>
				<input type="text" class="form-control" id="URLInput" placeholder="URL">
			</div>

			<div class="form-group">
				<label for="loginInput">Identifiant</label>
				<input type="text" class="form-control" id="loginInput" placeholder="Identifiant">
			</div>

			<div class="form-group">
				<label for="passwordInput">Mot de passe</label>
				<input type="password" class="form-control" id="passwordInput" placeholder="Mot de passe">
			</div>
			<div class="form-group row">
				<div class="col-md-2 col-md-offset-10">
					<button type="submit" class="btn btn-default">Confirmer</button>
				</div>
			</div>
		</form>
	</div>
</div>

