<!--
 * 3NInterface - RER Module configuration page
 *
 * PHP 7.0
 *
 * @author     Xel NDEMBI <ndembi_x@etna-alternance.net>
 * @author     Manh-Tuong NGUYEN <nguyen_m@etna-alternance.net>
 * @author     Cédric NOMENTSOA <noment_c@etna-alternance.net>
 * @version    1.0
-->

<div class="page-header">
    <h1>Gestion du RER</h1>
</div>
<div class="main">
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <form>
                <div class="form-group">
                    <label for="widget-name">Nom du widget</label>
                    <input type="text" class="form-control" id="widget-name" />
                </div>
                <div class="form-group">
                    <label for="ligne-1">Ligne 1</label>
                    <input type="text" class="form-control" id="ligne-1" title="f" />
                </div>
                <div class="form-group">
                    <label for="ligne-2">Ligne 2</label>
                    <input type="text" class="form-control" id="ligne-2" title="f" />
                </div>
                <div class="form-group">
                    <label for="latitude">La latitude de la station</label>
                    <input type="text" class="form-control" id="latitude" />
                </div>
                <div class="form-group">
                    <label for="longitue">La longitude de la station</label>
                    <input type="text" class="form-control" id="longitude" />
                </div>
                <div class="form-group">
                    <label for="addresse">Adresse de la station</label>
                    <input type="text" class="form-control" id="addresse" />
                </div>
                <div class="form-group">
                    <label for="start-time">Heure de départ</label>
                    <input type="text" class="form-control" id="start-time" />
                </div>
                <div class="form-group">
                    <label for="end-time">Heure d'arrivée</label>
                    <input type="text" class="form-control" id="end-time" />
                </div>
                <div class="form-group">
                    <label for="api-key">Clé API RATP</label>
                    <input type="text" class="form-control" id="api-key" />
                </div>
                <button id="updateWeather" type="submit" class="btn btn-default">Modifier</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2" style="margin-top: 10px;">
            <pre>
                <code id="conf"><br /></code>
            </pre>
        </div>
    </div>
</div>       
<script src="/js/RER.js"></script>
