<!--
 * 3NInterface - Road Module configuration page
 *
 * PHP 7.0
 *
 * @author     Xel NDEMBI <ndembi_x@etna-alternance.net>
 * @author     Manh-Tuong NGUYEN <nguyen_m@etna-alternance.net>
 * @author     Cédric NOMENTSOA <noment_c@etna-alternance.net>
 * @version    1.0
-->

<div class="page-header">
    <h1>Gestion du trafic</h1>
</div>
<div class="main">
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <form>
                <div class="form-group">
                    <label for="widget-name">Nom du widget</label>
                    <input type="text" class="form-control" id="widget-name" />
                </div>
                <div class="form-group">
                    <label for="latitude">La latitude de départ</label>
                    <input type="text" class="form-control" id="latitude" />
                </div>
                <div class="form-group">
                    <label for="longitue">La longitude de départ</label>
                    <input type="text" class="form-control" id="longitude" />
                </div>
                <div class="form-group">
                    <label for="addresse">Intitulé de l'adresse de départ</label>
                    <input type="text" class="form-control" id="addresse" />
                </div>
                <div class="form-group">
                    <label for="desc">Description</label>
                    <textarea class="form-control" id="desc" rows="5"></textarea>
                </div>
                <script>
                    for (var a = 1; a <= 10; a++) {
                        $(".form-group:last").after('<div class="form-group"><label for="desc">Destination '+a+'</label><br /><input type="text" id="dest'+a+'" class="form-control" title="Destination" /></div>');
                    }
                </script>
                <button id="updateRoadView" type="submit" class="btn btn-default">Modifier</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2" style="margin-top: 10px;">
            <pre>
                <code id="conf"><br /></code>
            </pre>
        </div>
    </div>
</div>       
<script src="/js/RoadView.js"></script>
